.toolbar {  
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  background-color: var(--background-accent);
  color: var(--color-text-light);
  font-weight: 600;
  padding-inline: 1rem;
}

@media (max-width: 600px) {
  .toolbar h1 {
    display: none;
  }
}
