<div class="keyboard">
  <div class="keys" [class]="langService.currentLanguage()">
    @for (row of rows(); track $index) {
      <div class="row">
        @for (key of row; track key.value) {
          <button
            [class.btn-disabled]="key.disabled"
            [disabled]="key.disabled"
            aria-disabled="{{ key.disabled }}"
            (click)="onKeyClick(key.value)"
          >
          <span>{{ key.value | uppercase }}</span>
          </button>
        }
      </div>
    }
  </div>
</div>
