:host {
  --select-font-size: 20px;
  --option-font-size: 16px;
  --select-width: 10rem;
  --trigger-padding: 6px 12px;
  --arrow-font-size: 40px;
  --options-padding: 8px 12px;
}

.switcher {
  position: relative;
  width: var(--select-width);
}

.trigger {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--trigger-padding);
  border-radius: 8px;
  background: transparent;
  color: var(--color-text-light);
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: var(--select-font-size);
  cursor: pointer;
  transition: all 0.2s ease;

  &:focus-visible {
    outline: 2px solid #1976d2;
  }

}

.trigger:hover {
  background: rgba(255, 255, 255, 0.08);
}

.arrow {
  font-family: 'Material Symbols Outlined';
  font-size: var(--arrow-font-size);
  transition: transform 0.2s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.dropdown {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  width: 100%;

  background: var(--background-accent);
  border-radius: 10px;

  padding: 0;
  margin: 0;
  list-style: none;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  z-index: 1000;
}

.option {
  padding: var(--options-padding);
  cursor: pointer;
  color: var(--color-text-light);
  font-size: var(--option-font-size);
  transition: background 0.15s ease;

  &:focus {
    outline: 2px solid #1976d2;
  }
}

.option:hover {
  background: rgba(255, 255, 255, 0.12);
}

.option.active {
  font-weight: 600;
  background: rgba(255, 255, 255, 0.18);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);

  white-space: nowrap;
  border: 0;
}
