@if (authService.isOverlayOpen()) {
  <div class="overlay" tabindex="-1" (keydown)="handleKeydown($event)">
    <div
      class="overlay-backdrop"
      role="button"
      tabindex="0"
      (click)="closeOverlay()"
            
    ></div>
    <div class="overlay-container">
      <button class="close-btn" (click)="closeOverlay()" aria-label="Close overlay">
        <span class="material-icons">close</span>
      </button>
      @if (authService.activeForm() === 'signUp') {
        <app-sign-up />
      }
      @if (authService.activeForm() === 'signIn') {
        <app-sign-in />
      }
    </div>
  </div>
}
