<div
  class="game-over-screen"
  (keydown)="handleKeydown($event)"
  tabindex="-1"
  role="dialog"
  aria-modal="true"
>
  @if (success()) {
    <h2>🎉{{ 'game-win-title' | transloco }} 👏</h2>
    <p>{{ 'game-win-message' | transloco }}</p>
  } @else {
    <h2>😞 {{ 'game-loss-title' | transloco }}</h2>
    <p>
      {{ 'game-loss-message' | transloco }}
      <strong>{{ correctWord() }} </strong>
    </p>
  }

  <button #restartBtn (click)="restartGame()" aria-label="Restart game" class="button-accent">
    {{ 'restart-game' | transloco }}
  </button>
  @if (!authService.isRegistered() || !authService.isAuthenticated()) {
    <div class="promo-block">
      <p>{{ 'game-over-promo' | transloco }}</p>
      <app-auth-actions [buttonsStyle]="buttonStyle()" />
    </div>
  }
</div>
