:host {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.header {
  flex-shrink: 0;
}

.main {
  background-image: url('../../assets/game-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: calc(100dvh - 64px - 48px);
  padding-block: 2rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  flex-shrink: 0;
  height: 48px;
  background: var(--background-accent);
  color: var(--color-text-light);
  border-top: 1px solid gray;
}


@media (max-width: 600px) {
  .main {
    align-items: flex-start;
    padding-block: 1rem;
  }
}


